<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Quest Store</title>
<<<<<<< HEAD
		<link rel="stylesheet" href="../static/assets/stylesheets/main.css">
=======
		<link rel="stylesheet" href="assets/stylesheets/main.css">
>>>>>>> serverConnection
		<link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">	</head>
    <body class="bg">
		<div>
			<header class="primary-header">
<<<<<<< HEAD
				<a href="http://localhost:8800/static/index.html" class="btn button-logout">Logout</a>
				<h1>Exp: {{ codecooler.getExp }}			Coins:	{{ codecooler.getExp }}		</h1>
=======
				<a href="index.html" class="btn button-logout">Logout</a>
				<h1>Exp: 			Coins:			</h1>
>>>>>>> serverConnection
			</header>

			<section class="hero row">
				<div class="navbar" id="myNavbar">
					<div class="primary-nav-left">
<<<<<<< HEAD
						<a href="http://localhost:8800/static/codecooler/{{ codecooler.getId }}" class="btn active">main</a>
						<a href="http://localhost:8800/static/codecooler/{{ codecooler.getId }}/profile" class="btn">profile</a>
=======
						<a href="main-codecooler.html" class="btn active">main</a>
						<a href="profile-codecooler.html" class="btn">profile</a>
>>>>>>> serverConnection
						<a href="contact-codecooler.html" class="btn">contact</a>
					</div>
					<div class="primary-nav-right">
						<a href="store-codecooler.html" class="btn">store</a>
						<a href="quests-codecooler.html" class="btn">quests</a>
						<a href="wallet-codecooler.html" class="btn">inventory</a>
						<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
					</div>
				</div>
				<div>
					<h2><br><br><br>Welcome traveler...</h2><br>
				</div>

			</section>

			<div><h1 class="title">Cos tu bedzie!!!!!!!!</h1></div>

			<!-- <section class="grid">
				<div class="container"><img src="assets/stylesheets/placeHolder.png" alt="przejebany dps"></div>
				<div class="container"><img src="assets/stylesheets/placeHolder.png" alt="przejebany dps"></div>
				<div class="container"><img src="assets/stylesheets/placeHolder.png" alt="przejebany dps"></div>
			</section> -->

			<footer class="primary-footer">
					<small>&copy; Ekipa mocna</small>
				<nav>
<<<<<<< HEAD
						<a href="http://localhost:8800/static/index.html/{{ codecooler.getId }}">Home</a>
=======
						<a href="index.html">Home</a>
>>>>>>> serverConnection
						<a href="speakers.html">About</a>
						<a href="schedule.html">PlaceHolder</a>
						<a href="venue.html">PlaceHolder</a>
						<a href="contact.html">PlaceHolder</a>
					</nav>
			</footer>
		</div>
		<script>
			/* Toggle between adding and removing the "responsive" class to the navbar when the user clicks on the icon */
			function myFunction() {
				var x = document.getElementById("myNavbar");
				if (x.className === "navbar") {
					x.className += " responsive";
				} else {
					x.className = "navbar";
				}
			}

			// var header = document.getElementById("myDIV");
			// var btns = header.getElementsByClassName("btn");
			// for (var i = 0; i < btns.length; i++) {
			// 	btns[i].addEventListener("click", function() {
			// 		var current = document.getElementsByClassName("active");
			// 		current[0].className = current[0].className.replace(" active", "");
			// 		this.className += " active";
			// 	});
			// }
		</script>
 	</body>
</html>
