<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Quest Store</title>
		<link rel="stylesheet" href="/static/assets/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">	</head>
    <body class="bg">
		<div>
			<header class="primary-header">
				<a href="http://localhost:8800/static/index.html" class="btn button-logout">Logout</a>
				<h1>Exp: {{ codecooler.getExp }}			Coins:	{{ codecooler.getInventory.getCoins }}		</h1>
			</header>

			<section class="hero row">
                    <div class="navbar" id="myNavbar">
                        <div class="primary-nav-left">
                            <a href="http://localhost:8800/codecooler/{{ codecooler.getLogin }}" class="btn">main</a>
                            <a href="http://localhost:8800/codecooler/{{ codecooler.getLogin }}/profile" class="btn">profile</a>
                            <a href="http://localhost:8800/codecooler/{{ codecooler.getLogin }}/contact" class="btn">contact</a>
                        </div>
                        <div class="primary-nav-right">
                            <a href="http://localhost:8800/codecooler/{{ codecooler.getLogin }}/store" class="btn">store</a>
                            <a href="http://localhost:8800/codecooler/{{ codecooler.getLogin }}/quest" class="btn">quests</a>
                            <a href="http://localhost:8800/codecooler/{{ codecooler.getLogin }}/inventory" class="btn active">inventory</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                        </div>
                    </div>
                <div>
					<h2><br><br><br>Welcome traveler...</h2><br>
				</div>
			</section>

			<section>
				<h1 class="title">Your inventory:</h1>
			</section>

			<div class="flex-container">
					<table class="info" id="myTable">

						{% for artifact in inventory %}
						
						<tr><div class="card-container">
							<div class="card-title">
								<p contenteditable="true">{{ artifact.name }}</p>
							</div>
							<div class="card-value">
								<p contenteditable="true">{{ artifact.price }}</p>
							</div>
							<img src="/static/assets/stylesheets/Card_artefact.jpg">
							<div class="card-description">
								<p contenteditable="true">{{ artifact.description }}</p>
							</div>
						</div></tr>


						{% endfor %}
					</table>

			<footer class="primary-footer">
					<small>&copy; Ekipa mocna</small>
				<nav>
						<a href="index.html">Home</a>
						<a href="speakers.html">About</a>
						<a href="schedule.html">PlaceHolder</a>
						<a href="venue.html">PlaceHolder</a>
						<a href="contact.html">PlaceHolder</a>
					</nav>
			</footer>
		</div>
		<script>
			/* Toggle between adding and removing the "responsive" class to the navbar when the user clicks on the icon */
			function myFunction() {
				var x = document.getElementById("myNavbar");
				if (x.className === "navbar") {
					x.className += " responsive";
				} else {
					x.className = "navbar";
				}
			}

		</script>
		</div>
 	</body>
</html>
