<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Quest Store</title>
        <link rel="stylesheet" href="/static/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">
		<script>


		</script>

	</head>

    <body class="bg">
		<div>
			<header class="primary-header">
				<a href="html/index.html" class="btn button-logout">Logout</a>
				<h1>Exp: 			Coins:			</h1>
			</header>

			<section class="hero row">
                <div class="navbar" id="myNavbar">
                    <div class="primary-nav-left">
                        <a href="/mentor" class="btn">main</a>
                        <a href="/mentor/profile" class="btn">profile</a>
                        <a href="/mentor/contact" class="btn active">contact</a>
                    </div>
                    <div class="primary-nav-right">
                        <a href="/mentor/store" class="btn">store</a>
                        <a href="/mentor/quest" class="btn">quests</a>
                        <a href="/mentor/codecooler" class="btn">codecoolers</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                    </div>
                </div>
                <div>
					<h2><br><br><br>Welcome traveler...</h2><br>
				</div>

			</section>

			<div class="profile">
					<h3>Codecoolers</h3>
					<div></div>
			</div>

			<div class="flex-container">
				<table class="info" id="myTable">

					<tr class="tablerow">
						<th>id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>login</th>
						<th>class</th>
						<th>
							<button onclick="addRow()" class="button-add">+</button>
						</th>
					</tr>

					<tr class="tablerow">
						{% for student in studentList %}
                            <th contenteditable="true">{{ student.studentId }}</th>
                            <th contenteditable="true">{{ student.firstName }}</th>
                            <th contenteditable="true">{{ student.lastName }}</th>
                            <th contenteditable="true">{{ student.login }}</th>
                            <th contenteditable="true">{{ student.roomName }}</th>
                            <th><a class="action-btn" href="">Edit</a><a class="action-btn" href="http://localhost:8000/students/delete/{{ student.studentId }}">Delete</a>
                        {% endfor %}
					</tr>

				</table>

		</div>

			<footer class="primary-footer">
					<small>&copy; Ekipa mocna</small>
				<nav>
						<a href="index.html">Home</a>
						<a href="speakers.html">About</a>
						<a href="schedule.html">PlaceHolder</a>
						<a href="venue.html">PlaceHolder</a>
						<a href="contact.html">PlaceHolder</a>
					</nav>
			</footer>
		</div>

 	</body>
</html>
